@model OnlineMovieBuyingRentingSystem.Models.WebSeries
@{
    ViewData["Title"] = "Download";
}


<h1> Download @Model.Title</h1>

<p> Download from <a href=@Model.WebSeriesFilePath download> here</a> </p>